
{
  "extends": "@skyscanner/skyscanner",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": ["error", { "mjs": "never" }],
    "jest/no-deprecated-functions": "off"
  }
}
